<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huwamaruwa">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Huwamaruwa">
        <activity android:name=".MypostAD.EditMyAd"></activity>
        <activity android:name=".MypostAD.UserPostedAds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addCategory.EditCategoryData" />
        <activity android:name=".addCategory.allAddCategories"></activity>
        <activity android:name=".addProduct.AllPostedAds" />
        <activity android:name=".buyerRentalRequestManage.SendingOffer" />
        <activity android:name=".buyerRentalRequestManage.AllBuyerRentalRequests" />
        <activity android:name=".ProfileView" />
        <activity android:name=".UserProfileEdit" />
        <activity android:name=".buyerRentalRequestManage.BuyerRentalRequest" />
        <activity
            android:name=".ProductReviews.AddProductReview"
            android:exported="true" />
        <activity
            android:name=".ProductReviews.AllProductReviews"
            android:exported="true" />
        <activity android:name=".buyerRentalRequestManage.SentRentalRequestBySeller" />
        <activity android:name=".SignUp" />
        <activity android:name=".customer_care.ChatActivity" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".singleProduct.RequestRent" />
        <activity android:name=".PaymentOption" />
        <activity android:name=".singleProduct.NonPremiumProduct" />
        <activity android:name=".singleProduct.PremiumProduct" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".addProduct.AddNewItem"></activity>
        <activity android:name=".AddCategory"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>